/* Fonts */
$font-title: 'Playfair Display', serif;
$font-subtitle: 'Overpass', sans-serif;

/* Colors */
$color-1: hsla(22, 57%, 48%, 1);
$color-2: hsla(0, 0%, 95%, 1);
$color-3: rgb(68, 66, 64);
$color-4: hsla(55, 30%, 29%, 1);
$color-5: hsla(202, 21%, 47%, 1);
$color-6: hsla(200, 9%, 14%, 1);


