/* Fonts */
$font-title: 'Playfair Display', serif;
$font-subtitle: 'Overpass', sans-serif;

/* Colors */
$color-1: #B86730;
$color-2: #FFFFFF;
$color-3: #FAAC02;
$color-4: #037F8C;
$color-5: #011C40;
$color-6: #D96281;


