/* Carousel index */
main {
    width: 100%;
    .carousel {
        position: relative;
        img{
            opacity: 0.5;
        }
        .carousel-caption {
        z-index: 1;
        position: absolute;
        top: 40%;
        left: 20%;
            h1 {
            font-family: $font-title;
            color: $color-2;
            text-align: center;
            text-shadow: 2px 2px 3px $color-5;
            font-size: 3em;
            }
        }
    }
}

/* About us index */

section {
    margin-top: 2em;
    .nosotrasSection, .mayoristasSection{
        position: relative;
        #nosotrasContainer {
            background-color: $color-4;
            border-radius: 0px 180px 180px 0px;
            position: relative;
            h2 {
                font-family: $font-title;
                font-size: 3em;
                color: $color-2;
                margin: 0.5em 1em 0 0.5em;
            }
            p {
                font-family: $font-subtitle;
                font-size: 1.5em;
                margin: 1em;
                color: $color-2;
            }
        }    
        img {
            display:inline-block;
            position: absolute;
            right: 5%;
            top: -7px;
        }
        #mayoristasContainer {
            border: solid 20px $color-3;
            border-right: none;
            border-radius: 220px 0 0px 220px;
            margin: 5em 0 0 0;
            padding: 0; 
            position: relative;
            img {
                display:inline-block;
                position: absolute;
                left: -70px;
                top: -30px;
                height: 320px;
            }
            .mayoristasContainerBis {
                border: solid 10px $color-3;
                border-radius: 200px 0 0px 200px;
                border-right: none;
                position: relative;
                margin: 0.5em 0 0.5em 0.5em; 
                display: grid;
                h2 {
                    font-family: $font-title;
                    font-size: 3em;
                    color: $color-3;
                    margin: 0.5em 0.5em 0 0.5em;
                    text-align: right;
                }
                p {
                    font-family: $font-subtitle;
                    font-size: 1.5em;
                    margin: 1em;
                    color: $color-3;
                    text-align: right;
                    justify-self: right;
                }
                
            }    
               
        }
    }
    

}
